.header{
    height: 33.7vw;
    margin: 30px auto;
    background: url('./header_img.png') no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    background-blend-mode: darken;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: start;
    gap: 1.5vw;
    left: 6vw;
    bottom:10%;
    max-width: 50%;
    animation: fadeIn 3s;

}

.header-contents h2{
    font-size: max(4.5vw, 22px);
    font-weight: 500;
    color: white;
}

.header-contents p{
    font-size: 1.5vw;
    color: white;
}

.header-contents button{
    border: none;
    background-color: white;
    color: #747474;
    font-size: max(1vw, 13px);
    padding: 1vw 2.3vw;
    font-weight: 500;
    border-radius: 50px;
}